/* 场景 PRJ-WTP-WEB-013：旅游产品盒子属性 【1/2 start】 */

/* 产品框内外边距 */
.main_l .recommend {
    padding: 13px 0px 0px 0px;
    margin-top: 10px;
}

/* 产品详情内边距 */
.main_l .recommend .detail {
    padding: 0px 18px;
}

/* 产品图片 */
.main_l .recommend .detail_img {
    margin-right: 14px;
    margin-bottom: 10px;
}
.main_l .recommend .detail_tag {
    padding: 3px 7px;
}

/* 产品价格和好评 */
.main_l .recommend .price{
    width: 145px;
	margin-top:10px;
	margin-left:10px;
}
.main_l .recommend .price .priceTitle{
    margin-bottom: 5px;
}
.good_comment span{
    padding-right: 5px;
}

/* 产品标题和主题 */
.detail .detail_title{
    margin-bottom: 10px;
}
.detail .detail_text{
	margin-top:25px;
}
.detail .detail_text dt{
    margin-right: 10px;
}
.detail .detail_text dd p {
    max-width: 470px;
}

/* 产品底部其余信息 */
.discribe li{
    height: 55px;
    width: 236px;
    padding-top: 10px;
}
.discribe .icon{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}
.discribe a.more{
    margin-left: 3px;
}
.main_l .recommend .tip{
    width: 69px;
    height: 69px;
}

/* 场景 PRJ-WTP-WEB-013：旅游产品盒子属性 【1/2 end】 */