/*定义居中头部导航栏容器的样式,具体参考如下：
1、这里为了契合头部容器的宽度980像素，导航栏容器的宽度也设置为980像素，但是考虑到内边距，因此设置宽度为960像素
2、内边距为10像素，这里的内边距是根据上面的宽度来定制的
3、高度为30像素
4、背景图片路径【../images/nav/menu.png】，图像无平铺效果，用于导航栏菜单的背景显示
*/
#fs_menu{
  width: 960px;
  padding: 10px;
  height: 30px;
  background-image: url("../images/nav/menu.png");
  background-repeat: no-repeat;
}

/*定义导航栏无序列表的样式，具体如下：
 1、由于样式里面，含有相对定位，那么为了保证导航栏在层的最上面，因此这里需要设置堆叠顺序为100（或者其他值，只要保证导航栏在层的最上面就可以了）
 2、内边距为0
 3、外边距为0
 3、列表标记项为无
 */
.menu ul{
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*定义导航栏列表项的样式，具体如下：
1、相对定位
2、由于需要导航菜单的列表项横向排列，这里需要添加左浮动
3、将列表项转为行内元素
*/
.menu ul li{
  position: relative;
  float: left;
  display: inline;
}

/*定义导航链接的样式，具体如下：
1、左外边距5像素
2、可供选择的字体依次为【Georgia, "Times New Roman", Times, serif】
3、字体大小为13像素
4、字体粗细为400
5、字体颜色为黑色
6、将链接转为块元素显示，其中由于链接标签是行内元素，将其转换为块元素，之后需要设置其宽度和高度
7、宽度为80像素
8、高度为30像素
9、行高30像素
10、水平对其方式为居中对齐
11、文本修饰为无，用于链接对象的下划线的原有样式
12、轮廓线为无
*/
.menu ul li a{
  margin-left: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: 400;
  color: #333333;
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  outline: none;
}

/*定义导航链接伪类，具体如下:
1、字体颜色为白色
2、背景图片路径为【../images/nav/menu_hover.png】，图像无平铺效果
*/
.menu ul li a.selected, .menu ul li a:hover{
  color: #ffffff;
  background-image: url("../images/nav/menu_hover.png");
  background-repeat: no-repeat;
}

/*定义包含表单容器的样式，具体如下：
1、右浮动
2、宽度为214像素
3、高度为30像素
4、背景图片路径为【../images/nav/search_bg.png】
*/
#fs_search{
  float: right;
  width: 214px;
  height: 30px;
  background-image: url("../images/nav/search_bg.png");
}

/*定义表单的样式，具体为：
1、内边距为0像素
2、外边距为0像素
*/
#fs_search form{
  padding: 0;
  margin: 0;
}

/*解决Chrome内核问题：取消谷歌 Chrome 文本框(域)外边框高亮和缩放功能*/
input:focus{
    outline: none
}

/*定义文本框的样式，具体为：
1、左浮动
2、将其变为块元素
3、宽度为170像素
4、高度为20像素
5、内边距为5像素
6、行高为20像素
7、字体大小为12像素
8、字体颜色为黑色
9、小型大写字母的字体显示文本为默认值
10、边框为无
11、背景图片为无
*/
#fs_search .txt_field{
  float: left;
  display: block;
  width: 170px;
  height: 20px;
  padding: 5px;
  line-height: 20px;
  font-size: 12px;
  color: #333333;
  font-variant: normal;
  border: none;
  background: none;
}

/*定义单选按钮的样式，具体如下：
1、右浮动
2、块元素显示
3、宽度为30像素
4、高度为30像素
5、字体大小为11像素
6、字体粗细为700
7、字体颜色为白色
8、行高为26像素
9、鼠标形状为手状
10、边框为无
11、背景图片为无*/
#fs_search .sub_btn{
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 11px;
  font-weight: 700;
  color: #ffffff;
  line-height: 26px;
  cursor: pointer;
  border: none;
  background: none;
}
