<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>

	<!-- 实训场景003 模拟用户登录 登陆Servlet的创建与配置 【1/4 Start】 -->
	<servlet>
		<servlet-name>LoginAction</servlet-name>
		<servlet-class>campsg.qunawan.action.LoginAction</servlet-class>

		<init-param>
			<param-name>index_url</param-name>
			<param-value>index.html</param-value>
		</init-param>
		<init-param>
			<param-name>error_url</param-name>
			<param-value>login.html</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>LoginAction</servlet-name>
		<url-pattern>/login.jhtml</url-pattern>
	</servlet-mapping>

	<!-- 实训场景003 模拟用户登录 登陆Servlet的创建与配置 【1/4 End】 -->
	
</web-app>