/* ³¡¾° PRJ-WTP-WEB-015£ºÇ§µººþÊ×Ò³ ¡¾2/3 start¡¿ */

.main_r .local_index ul{
	padding: 10px 0;
    margin: 0 17px 0 13px;
    border-top: 1px solid #ddd;
	list-style:url("../img/li_point.png") inside;
}

/* ³¡¾° PRJ-WTP-WEB-015£ºÇ§µººþÊ×Ò³ ¡¾2/3 start¡¿ */